{% extends 'base.html' %}
{% block title %} Blog
{% endblock %}

{% block content %}
<a href="{% url 'blog:myblog' %}">MyBlogPage  </a>
<a href="{% url 'about:about' %}">AboutHome </a>
<a href="{% url 'blog:blog' %}">BlogHome </a>
<a href="{% url 'accounts:user' %}">UserHome  </a>
<a href="{% url 'contact:contact' %}">Contact </a>
    <h1>Welcom Newsblog page</h1>
    <p>Pioneers of the Programmatic Job Advertising!
        Powered by industry-leading digital technology & a data-driven approach, we help employers across industries find the best talent & job seekers, the perfect jobs with which they can fall in love.
        
        Looking to hire qualified, remote workers for your current openings? With Receptix, your ideal candidates are just a click away!
        
        Post-pandemic due to uncertain budgets, mitigating waste, & doing more with less is on top of mind, as the world gets back to work. In the complex global job market, it’s getting harder to find suitable candidates to meet the hiring needs. Work from anywhere culture has brought diverse challenges for the recruitment teams, who have to expand their reach to hire from a wider pool of candidates, which means more resumes to sift through to select quality applicants quickly. Competition for recruiting the best talent is getting fierce, & traditional job advertising is falling short.
        
        Herein, data & technology can be a catalyst for transformation. Leveraging cutting-edge digital technology is critical for navigating prevailing challenges & gaining a competitive edge in the current battle for high-quality talent.</p>
{% endblock %}
   